# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.cache
.pytest_cache/

# VS Code settings
.vscode/

# Processed Datasets
processed_datasets/*

# Logs
logs/*
model_binaries/model_v10/logs/*
model_binaries/model_v10/logs/*


# Models
models/*
model_binaries/model_v10/models/*
model_binaries/model_v10/models/*