# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.cache
.pytest_cache/

# VS Code settings
.vscode/

# Processed Datasets
processed_datasets/*

# Logs
logs/*
z-model_binaries/model_v0/logs/*
z-model_binaries/model_v0.1/logs/*


# Models
models/*
z-model_binaries/model_v0/models/*
z-model_binaries/model_v0.1/models/*