model:
  architecture:
    input_size: 177
    layers:
      - in_features: 177
        type: BatchNormalization
      - activation: ReLU
        in_features: 176
        type: Dense
        units: 512
        kernel_initializer: he_normal
      - in_features: 512
        type: BatchNormalization
      - activation: ReLU
        in_features: 512
        type: Dense
        units: 64
        kernel_initializer: he_normal
      - in_features: 64
        type: BatchNormalization
      - activation: ReLU
        in_features: 64
        type: Dense
        units: 64
        kernel_initializer: he_normal
      - in_features: 64
        type: BatchNormalization
      - activation: None
        in_features: 64
        type: Dense
        units: 1
        kernel_initializer: he_normal
    output_features:
      - Team_A_Wins
    learning_rate_schedule:
      - name: ReduceLROnPlateau
      - hyperparam_1: 0.1
      - hyperparam_2: 7
    output_size: 1
    prediction_threshold: 0.5
    type: tensorflow_model_v0
  dataset:
    joins:
      - keys:
          - GAME_ID
        left: games
        right: game_details
        type: left
    sources:
      - columns:
          - dtype: datetime
            name: GAME_DATE_EST
          - dtype: int
            name: GAME_ID
          - dtype: int
            name: HOME_TEAM_ID
          - dtype: int
            name: VISITOR_TEAM_ID
          - dtype: float
            name: PTS_home
          - dtype: float
            name: PTS_away
        file_type: csv
        name: games
        path: /Users/joaquinuriarte/Desktop/dataset/games.csv
      - columns:
          - dtype: int
            name: GAME_ID
          - dtype: int
            name: TEAM_ID
          - dtype: int
            name: PLAYER_ID
          - dtype: string
            name: MIN
            regex: ^(?:\d{1,2}:\d{2}|\d{1,2}:\d{2}:\d{2})$
          - dtype: float
            name: PTS
          - dtype: float
            name: AST
          - dtype: float
            name: TO
          - dtype: float
            name: PLUS_MINUS
          - dtype: float
            name: OREB
          - dtype: float
            name: DREB
          - dtype: float
            name: PF
          - dtype: float
            name: FG3_PCT
          - dtype: float
            name: FG_PCT
          - dtype: float
            name: FT_PCT
        file_type: csv
        name: game_details
        path: /Users/joaquinuriarte/Desktop/dataset/games_details.csv
  feature_processor:
    look_back_window: 10
    player_stats_columns:
      - MIN
      - PTS
      - AST
      - TO
      - PLUS_MINUS
      - OREB
      - DREB
      - PF
      - FG3_PCT
      - FG_PCT
      - FT_PCT
    sorting_criteria: MIN
    top_n_players: 8
    type: top_n_players_v10
  model_signature:
  strategy: join_based
  training:
    batch_size: 32
    epochs: 20000
    early_stopping:
      use: true
      patience: 11
    learning_rate: 0.001
    loss_function:
      - binary_crossentropy
      - true
    metrics:
      - accuracy
      - recision
      - recall
      - AUC
    optimizer: Adam
    split_strategy:
      strategy: chronological_split
      chronological_column: game_date
      test_split: 10
      train_split: 80
      use_test: true
      use_val: true
      val_split: 10
